main {
  padding: 2rem 0;

  .contacts {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: .7rem;
      }
    }
  }

  /* Posts list */
  .postlist {
    display: flex;
    flex-direction: column;
  }
  .postlist-item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    counter-increment: start-from -1;
    line-height: 1.8;
    gap: 0.5rem;
  }
  .postlist-item:before {
    display: inline-block;
    pointer-events: none;
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right;
  }
  .postlist-date,
  .postlist-item:before {
    font-size: 0.6125em; /* 13px /16 */
    color: var(--darkgray);
  }
  .postlist-date {
    word-spacing: -0.5px;
  }
  .postlist-link {
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-underline-position: from-font;
    text-underline-offset: 0;
    text-decoration-thickness: 1px;
  }
  .postlist-item-active .postlist-link {
    font-weight: bold;
  }
  .tmpl-home .postlist-link {
    font-size: 1.1875em; /* 19px /16 */
    font-weight: 700;
  }
}

// code
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}


// post
.tmpl-post {
  time {
    font-size: .85rem;
  }

  main p, main li {
    line-height: 2;
    opacity: .9;
  }

  // share button 
  .share-buttons {
    margin-top: 2rem;
    .resp-sharing-button__link,
    .resp-sharing-button__icon {
      display: inline-block;
      line-height: 1;
    }
  
    .resp-sharing-button__link {
      text-decoration: none;
      color: #fff;
      margin: 0.4em 0.2em;
    }
  
    .resp-sharing-button {
      border-radius: 5px;
      transition: 25ms ease-out;
      padding: 0.5em 0.75em;
      font-size: 0.65rem;
    }
  
    .resp-sharing-button__icon svg {
      width: 1em;
      height: 1em;
      margin-right: 0.4em;
      vertical-align: top;
    }
  
    .resp-sharing-button--small svg {
      margin: 0;
      vertical-align: middle;
    }
  
    /* Non solid icons get a stroke */
    .resp-sharing-button__icon {
      stroke: #fff;
      fill: none;
    }
  
    /* Solid icons get a fill */
    .resp-sharing-button__icon--solid,
    .resp-sharing-button__icon--solidcircle {
      fill: #fff;
      stroke: none;
    }
  
    .resp-sharing-button--twitter {
      background-color: #55acee;
    }
  
    .resp-sharing-button--twitter:hover {
      background-color: #2795e9;
    }
  
    .resp-sharing-button--pinterest {
      background-color: #bd081c;
    }
  
    .resp-sharing-button--pinterest:hover {
      background-color: #8c0615;
    }
  
    .resp-sharing-button--facebook {
      background-color: #3b5998;
    }
  
    .resp-sharing-button--facebook:hover {
      background-color: #2d4373;
    }
  
    .resp-sharing-button--tumblr {
      background-color: #35465c;
    }
  
    .resp-sharing-button--tumblr:hover {
      background-color: #222d3c;
    }
  
    .resp-sharing-button--reddit {
      background-color: #5f99cf;
    }
  
    .resp-sharing-button--reddit:hover {
      background-color: #3a80c1;
    }
  
    .resp-sharing-button--google {
      background-color: #dd4b39;
    }
  
    .resp-sharing-button--google:hover {
      background-color: #c23321;
    }
  
    .resp-sharing-button--linkedin {
      background-color: #0077b5;
    }
  
    .resp-sharing-button--linkedin:hover {
      background-color: #046293;
    }
  
    .resp-sharing-button--email {
      background-color: #777;
    }
  
    .resp-sharing-button--email:hover {
      background-color: #5e5e5e;
    }
  
    .resp-sharing-button--xing {
      background-color: #1a7576;
    }
  
    .resp-sharing-button--xing:hover {
      background-color: #114c4c;
    }
  
    .resp-sharing-button--whatsapp {
      background-color: #25d366;
    }
  
    .resp-sharing-button--whatsapp:hover {
      background-color: #1da851;
    }
  
    .resp-sharing-button--hackernews {
      background-color: #ff6600;
    }
    .resp-sharing-button--hackernews:hover,
    .resp-sharing-button--hackernews:focus {
      background-color: #fb6200;
    }
  
    .resp-sharing-button--vk {
      background-color: #507299;
    }
  
    .resp-sharing-button--vk:hover {
      background-color: #43648c;
    }
  
    .resp-sharing-button--twitter {
      background-color: #55acee;
      border-color: #55acee;
    }
  
    .resp-sharing-button--twitter:hover,
    .resp-sharing-button--twitter:active {
      background-color: #2795e9;
      border-color: #2795e9;
    }
  
    .resp-sharing-button--linkedin {
      background-color: #0077b5;
      border-color: #0077b5;
    }
  
    .resp-sharing-button--linkedin:hover,
    .resp-sharing-button--linkedin:active {
      background-color: #046293;
      border-color: #046293;
    }
  
    .resp-sharing-button--telegram {
      background-color: #54a9eb;
    }
  
    .resp-sharing-button--telegram:hover {
      background-color: #4b97d1;
    }
  }
  
}