.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.d-f {
  display: flex;
}

.container {
  width: 96%;
  margin: 0 auto;
  @include tablet {
    width: 80%;
  }
  @include desktop() {
    width: 55%;
  }
}
