---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% include "presentation.njk" %}

{% set maxPosts = collections.posts.length | min(3) %}
<p class="mt-1">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</p>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
