<div>
  <p>Hello, I'm <b>{{metadata.author.name}}</b>. I'm a passionate web developer!</p>
  <p class="">You can also find me here:</p>
  <ul>
    <li>
      <a href="#"> github </a>
    </li>
  </ul>
</div>