<div>
  <p>Hello, I'm <b>{{metadata.author.name}}</b>. I'm a passionate web developer.</p>
  <div class="contacts">
    <p>You can find me on:</p>
    <ul>
      {% for contact in metadata.contacts %}
        <li>
          <a href="{{ contact.url | url }}" target="_blank" rel="noreferrer" title="{{ contact.title }}">
            {% image contact.logo,
            contact.slug,
            contact.w,
            contact.h %}
          </a>
        </li>
      {%endfor%}
    </ul>
  </div>
</div>